* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

:root {
    --dark: #111;
    --dark-blue: #1984d2;
    --light-blue: #57b6e7;
}

@font-face {
    font-family: 'gorditabold';
    src: url('../fonts/gordita-bold-webfont.woff2') format('woff2'),
        url('../fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditalight';
    src: url('../fonts/gordita-light-webfont.woff2') format('woff2'),
        url('../fonts/gordita-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditamedium';
    src: url('../fonts/gordita-medium-webfont.woff2') format('woff2'),
        url('../fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditaregular';
    src: url('../fonts/gordita-regular-webfont.woff2') format('woff2'),
        url('../fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

body {
    font-family: 'gorditaregular';
}

h2,
h3,
h4 {
    font-family: 'gorditabold';
}

/* header */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header .wrapper h1 {
    width: 150px;
}

header .wrapper h1 img {
    width: 100%;
    display: block;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    display: inline-block;
    font-size: 20px;
    color: var(--dark);
}

header nav ul li a.button {
    padding: 12px 20px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

header nav ul li a.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: var(--dark-blue);
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.5s, opacity 0.3s, background-color 0.3s
}

header nav ul li a.button:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(2) translate(-10px, -70px);
}

/* header-end */
main {
    position: relative;
}

main .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

}

main .wrapper .text-container {
    width: 40%;
}

main .wrapper .text-container h3 {
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 16px;
    font-weight: 600;
}

main .wrapper .text-container p {
    font-size: 16px;
    color: var(--dark);
}

main .wrapper .text-container .button-box {
    margin-top: 40px;
}

main .wrapper .text-container a.button {
    padding: 12px 24px;
    font-size: 18px;
    color: var(--dark);
    border-radius: 35px;
    margin-right: 12px;
    transition: .3s ease;
}

main .wrapper .text-container a.button i {
    margin-right: 6px;
}

main .wrapper .text-container a.button:last-child {
    margin-right: 0;
}

main .wrapper .text-container a.active {
    color: #fff;
    background-color: var(--light-blue);
    overflow: hidden;
}

main .wrapper .text-container a:hover {
    background-color: var(--dark-blue);
    color: #fff;
}

main .wrapper .img-container {
    width: 800px;
}

main .wrapper .img-container img {
    width: 100%;
    display: block;
}
main .wrapper ul {
    display: flex;
    margin-top: 40px;
}
main .wrapper ul li {
    margin-right: 20px;
    text-align: center;
    background: rgba(87, 182, 231,.3);
    width: 100px;
    height: 80px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
main .wrapper ul li span{
    display: block;
    font-weight: 800;
    margin-bottom: 8px;
    font-size: 26px;
}
main .wrapper ul li small{
    color: var(--dark);
    font-size: 14px;
}