* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

:root {
    --dark: #111;
    --dark-blue: #1984d2;
    --light-blue: #57b6e7;
}

@font-face {
    font-family: 'gorditabold';
    src: url('../fonts/gordita-bold-webfont.woff2') format('woff2'),
        url('../fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditalight';
    src: url('../fonts/gordita-light-webfont.woff2') format('woff2'),
        url('../fonts/gordita-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditamedium';
    src: url('../fonts/gordita-medium-webfont.woff2') format('woff2'),
        url('../fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditaregular';
    src: url('../fonts/gordita-regular-webfont.woff2') format('woff2'),
        url('../fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

body {
    font-family: 'gorditaregular';
}

h2,
h3,
h4 {
    font-family: 'gorditabold';
}

/* header */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header .wrapper h1 {
    width: 150px;
}

header .wrapper h1 img {
    width: 100%;
    display: block;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    display: inline-block;
    font-size: 20px;
    color: var(--dark);
}

header nav ul li a.button {
    padding: 12px 20px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

header nav ul li a.button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: var(--dark-blue);
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.5s, opacity 0.3s, background-color 0.3s
}

header nav ul li a.button:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(2) translate(-10px, -70px);
}

/* header-end */
main {
    position: relative;
}

main .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);

}

main .wrapper .text-container {
    width: 40%;
}

main .wrapper .text-container h3 {
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 16px;
    font-weight: 600;
}

main .wrapper .text-container p {
    font-size: 16px;
    color: var(--dark);
}

main .wrapper .text-container .button-box {
    margin-top: 40px;
}

main .wrapper .text-container a.button {
    padding: 12px 24px;
    font-size: 18px;
    color: var(--dark);
    border-radius: 35px;
    margin-right: 12px;
    transition: .3s ease;
}

main .wrapper .text-container a.button i {
    margin-right: 6px;
}

main .wrapper .text-container a.button:last-child {
    margin-right: 0;
}

main .wrapper .text-container a.active {
    color: #fff;
    background-color: var(--light-blue);
    overflow: hidden;
}

main .wrapper .text-container a:hover {
    background-color: var(--dark-blue);
    color: #fff;
}

main .wrapper .img-container {
    width: 800px;
}

main .wrapper .img-container img {
    width: 100%;
    display: block;
}

main .wrapper ul {
    display: flex;
    margin-top: 40px;
}

main .wrapper ul li {
    margin-right: 20px;
    text-align: center;
    background: rgba(87, 182, 231, .3);
    width: 100px;
    height: 80px;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

main .wrapper ul li span {
    display: block;
    font-weight: 800;
    margin-bottom: 8px;
    font-size: 26px;
}

main .wrapper ul li small {
    color: var(--dark);
    font-size: 14px;
}

main .wrapper ul li .num {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main-end */

#menu {
    padding: 80px 0;

}

#menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(87, 182, 231, .3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 40px 80px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
}

#menu .container .img-box {
    width: 500px;
    margin-right: 100px;
    margin-bottom: -41px;
}

#menu .container .img-box img {
    width: 100%;
    display: block;
}

#menu .container .text-box h3 {
    color: var(--dark);
    font-size: 26px;
    margin-bottom: 16px;
}

#menu .container .text-box p {
    width: 80%;
    margin-bottom: 20px;
}

#menu .container .button-box a.button {
    padding: 12px 24px;
    font-size: 18px;
    color: #fff;
    background-color: var(--light-blue);
    border-radius: 35px;
    margin-right: 12px;
    transition: .3s ease;
}

#menu .container .button-box a.button:hover {
    background-color: var(--dark-blue);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

/* menu-ended */
#experience .wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
}

#experience .wrapper .right-box h3 {
    font-size: 30px;
    margin-bottom: 16px;
    color: var(--dark);
}

#experience .wrapper .right-box {
    width: 50%;
    margin-right: 50px;
}

#experience .wrapper .right-box p {
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--dark);
    width: 80%;
}

#experience .wrapper .right-box .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(87, 182, 231, .3);
    padding: 20px 30px;
    border-radius: 20px;
    max-height: 150px;
}

#experience .wrapper .right-box .banner h4 {
    font-size: 24px;
    margin-bottom: 22px;
}

#experience .wrapper .right-box .banner a.button {
    padding: 10px 24px;
    font-size: 18px;
    color: #fff;
    background-color: var(--light-blue);
    border-radius: 35px;
    margin-right: 12px;
    transition: .3s ease;
    font-size: 16px;
}

#experience .wrapper .right-box .banner a.button:hover {
    background-color: var(--dark-blue);
}

#experience .wrapper .right-box .banner .img-container {
    width: 200px;
}

#experience .wrapper .right-box .banner .img-container img {
    width: 100%;
}

#experience .wrapper .left-box ul li {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

#experience .wrapper .left-box ul li .preview {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, var(--dark-blue), var(--light-blue));
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

#experience .wrapper .left-box ul li h4 {
    font-size: 20px;
}

/* experience-end */
#learning {
    padding: 150px 0;
}

#learning .wrapper {
    display: flex;
    justify-content: space-between;
}

#learning .wrapper .right-box {
    width: 50%;
    margin-right: 60px;
}

#learning .wrapper .right-box h3 {
    font-size: 28px;
    margin-bottom: 18px;
    color: var(--dark);
}

#learning .wrapper .right-box p {
    margin-bottom: 20px;
}

#learning .wrapper .right-box ul {
    display: flex;
    flex-wrap: wrap;
}

#learning .wrapper .right-box ul li {
    width: 40%;
    margin: 0 40px 40px 0;
}

#learning .wrapper .right-box ul li h4 {
    color: var(--dark-blue);
    margin-bottom: 8px;
    font-size: 20px;
}

#learning .wrapper .right-box a.button {
    padding: 10px 24px;
    font-size: 18px;
    color: #fff;
    background-color: var(--light-blue);
    border-radius: 35px;
    margin-right: 12px;
    transition: .3s ease;
    font-size: 16px;
}

#learning .wrapper .right-box a.button:hover {
    background-color: var(--dark-blue);
}

#learning .wrapper .img-box {
    width: 400px;
}

#learning .wrapper .left-box {
    background: rgba(87, 182, 231, .3);
    border-radius: 35px;
    width: 400px;
    position: relative;
}

#learning .wrapper .img-box {
    position: absolute;
    left: -60px;
}

#learning .wrapper .img-box img {
    width: 100%;
    display: block;
}

/* learning-end */
#students {
    padding-bottom: 100px;
}

#students .head h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

#students .head {
    text-align: center;
    margin-bottom: 60px;
}

#students ul {
    display: flex;
}

#students ul li {
    margin-right: 30px;
}

#students ul li:hover {
    background-image: linear-gradient(35deg, rgba(87, 182, 231, .2), rgba(25, 132, 210, .7));

}

#students ul li .box {
    display: flex;
    align-items: center;
}

#students .head p {
    width: 60%;
    margin: 0 auto;
}

#students ul li {
    width: 30%;
    border: 1px solid var(--light-blue);
    padding: 20px 40px;
    border-radius: 20px;
    cursor: pointer;
}

#students ul li .box .img-box {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#students ul li .box .img-box img {
    width: 100%;
    display: block;
    border-radius: 50%;

}

#students ul li span {
    color: #838383;
}

/* student-end */

footer .wrapper {
    padding: 100px 0;
    border-top: 1px solid #e7e7e7;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

footer .logo-box h1 {
    width: 200px;
}

footer .logo-box p {
    width: 60%;
    color: #aeaeae;
    margin-bottom: 14px;
}

footer .logo-box ul {
    display: flex;
}

footer .logo-box ul li {
    margin-right: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    transition: .3s ease;
}

footer .logo-box ul li:hover {
    transform: scale(1.03);
}

footer .logo-box ul li a {
    color: #fff;
}

footer .logo-box h1 img {
    width: 100%;
}

footer .item h3 {
    font-size: 20px;
    color: var(--dark);
    margin-bottom: 22px;
}

footer .item li i {
    color: var(--light-blue);
    margin-right: 10px;
}

footer .item li {
    margin-bottom: 24px;
}

footer .item li a {
    color: #a1a1a1;
}

footer .contact-form h3 {
    margin-bottom: 20px;
}

footer .contact-form input[type="email"] {
    padding: 12px 20px;
    border-radius: 14px;
    border: 1px solid var(--dark-blue);
}

footer .contact-form input[type="submit"] {
    padding: 12px 20px;
    border-radius: 14px;
    background-color: var(--light-blue);
    border: none;
    color: #fff;
}

footer .copy {
    text-align: center;
    padding: 20px 0;
    color: #a1a1a1;
    border-top: 1px solid #dadada
}

/* external-pages-styles */
#login {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login .logo {
    width: 180px;
    margin-bottom: 90px;
}

#login .login-box {
    text-align: center;
    width: 40%;
    margin-right: 80px;
    padding-left: 80px;
}

#login .login-box h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

#login .login-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#login .login-box ul li {
    font-size: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 60px;
    margin-right: 30px;
    background-color: var(--light-blue);
    transition: .3s ease;
}

#login .login-box ul li:last-child {
    margin-right: 0;
}

#login .login-box ul li:hover {
    transform: scale(1.03);
}

#login .login-box ul li i {
    color: #fff;
}

#login .logo img {
    width: 100%;
    display: block;
}

#login .login-box form input {
    display: block;
    font-size: 20px;
    width: 60%;
    margin: 0 auto 20px;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid var(--dark-blue);

}

#login .login-box form input:active {
    border: 1px solid var(--dark-blue);

}

#login .login-box form a {
    width: 50%;
    margin: 0 auto;
    background-color: var(--light-blue);
    color: #fff;
    transition: .3s ease-in;
    cursor: pointer;
    padding: 12px 60px;
    border-radius: 30px;
    text-transform: capitalize;
}

#login .login-box form a:hover {
    background-color: var(--dark-blue);
    width: 60%;
}

#login .sign-up {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url("../images/abstract.jpg"), linear-gradient(35deg, rgba(87, 182, 231, .2), rgba(25, 132, 210, .3));
    padding: 20px 50px;
}

#login .sign-up h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

#login .sign-up p {
    font-size: 20px;
    width: 70%;
    margin: 0 auto 20px;
}

#login .sign-up .button {
    padding: 12px 30px;
    border-radius: 35px;
    color: #fff;
    background-color: var(--light-blue);
}

#login .sign-up .button:hover {
    background-color: var(--dark-blue);
}

/* dashboard.html-styling */
#dashboard {
    background: rgba(87, 182, 231, .3);
    padding: 14px 14px;
}

#dashboard .wrapper-box {
    display: flex;
}

#dashboard .side-bar {
    width: 300px;
    background-color: #fff;
    padding: 20px 0;
    height: 100vh;
    border-radius: 20px;
}

#dashboard .side-bar .logo {
    width: 80px;
    margin: 0 auto 30px;
}

#dashboard .side-bar .logo img {
    width: 100%;
    display: block;
}

#dashboard .side-bar .img-box {
    width: 240px;
    margin: 0 auto;
}

#dashboard .side-bar .img-box img {
    width: 100%;
    display: block;
}

#dashboard .side-bar ul li {
    padding: 14px 0 14px 26px;
    margin-bottom: 6px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}

#dashboard .side-bar ul li.active,
#dashboard .side-bar ul li:hover {
    background: linear-gradient(90deg, var(--light-blue), #fff);
}

#dashboard .side-bar ul li.active::before,
#dashboard .side-bar ul li:hover::before {
    height: 30px;
}

#dashboard .side-bar ul li a {
    color: var(--dark);
    display: inline-block;
}

#dashboard .side-bar ul li i {
    margin-right: 8px;
}

#dashboard .side-bar ul li::before {
    content: "";
    width: 5px;
    height: 0;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-50%);
    transition: .3s ease;
}

#dashboard .side-bar .button {
    text-align: center;
    display: block;
    padding: 12px 0;
    width: 96%;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    background-color: var(--dark-blue);
}

#dashboard .header {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

#dashboard .notification {
    background: #fff;
    position: fixed;
    width: 400px;
    border-radius: 20px;
    right: -100%;
    top: 60px;
    transition: .3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 44;
}

#dashboard .notification.active {
    right: 16px;
}


#dashboard .notification ul li span {
    margin-right: 10px;
    font-size: 16px;
    color: var(--dark-blue);
}

#dashboard .notification ul li {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    border-bottom: 1px solid #949494;
}

#dashboard .notification ul li:last-child {
    border-bottom: none;
}

#dashboard .header .user img {
    width: 50px;
    border-radius: 50%;
}

#dashboard .content-box {
    width: 100%;
    margin-left: 20px;
}

#dashboard .content-box .left-box {
    display: flex;
    align-items: center;
}

#dashboard .content-box .left-box form {
    position: relative;
    margin-left: 20px;
}

#dashboard .content-box .left-box form span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#dashboard .content-box .left-box input {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid transparent;
}

#dashboard .content-box .left-box input:focus {
    border: 2px solid var(--dark-blue);
}


#dashboard .content-box .right-box {
    display: flex;
    align-items: center;
}

#dashboard .content-box .right-box .user {
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

#dashboard .content-box .right-box span.icon {
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

#dashboard .content-box .right-box span.icon::after {
    content: "2";
    width: 20px;
    height: 20px;
    background: #df0000;
    color: #fff;
    display: block;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
    align-items: center;
    font-size: 14px;
}

#dashboard .content-box .right-box .user span {
    font-weight: 600;
    margin-left: 10px;
}

#dashboard .info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 50px;
    margin-top: 40px;
    border-radius: 20px;
    max-height: 150px;
}

#dashboard .info-box .img-box {
    width: 270px;
}

#dashboard .info-box .img-box img {
    width: 100%;
    display: block;
}

#dashboard .courses {
    background: #fff;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
}

#dashboard .courses .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#dashboard .courses .top span {
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-blue);
    cursor: pointer;
}

#dashboard .courses ul li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

#dashboard .courses ul li span.icon {
    font-size: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(87, 182, 231, .3);
    border-radius: 10px;
    margin-right: 16px;
    color: #fff;
}

#dashboard .courses ul li h4 {
    font-size: 18px;
}

#dashboard .courses ul li small {
    display: block;
    font-size: 16px;
    color: #838383;

}

#dashboard .courses ul li .right-box span {
    margin-right: 30px;
    font-size: 18px;
    color: #faae20;
}

#dashboard .courses ul li .right-box a.button {
    padding: 12px 20px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 4;
}

#dashboard .courses ul li .right-box a.button::after {
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(87, 182, 231, .3);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    right: 70%;
    z-index: -1;
    transition: .4s ease;
    opacity: 0;
}

#dashboard .courses ul li .right-box a.button:hover::after {
    transform: scale(4.5);
    opacity: 1;
}

#dashboard .chat-box {
    background: #fff;
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
}

#dashboard .chat-box .chat-wrapper {
    display: flex;
}

#dashboard .chat-box .profile {
    width: 60px;
    margin-right: 14px;
}

#dashboard .chat-box .contacts {
    width: 30%;
    border-right: 1px solid #5c5c5c;
}

#dashboard .chat-box .profile img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

#dashboard .chat-box ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#dashboard .chat-box ul li .info {
    opacity: 0.5;
}

#dashboard .chat-box ul li.active .info {
    opacity: 1;

}

#dashboard .chat-box ul li span {
    display: block;
    font-weight: 600;
}

#dashboard .chat-box ul li small {
    display: block;
}

#dashboard .chat-box .chat-area {
    width: 100%;
}

#dashboard .chat-box .chat-area .head {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #dcdcdc;
}

#dashboard .chat-box .chat-area .head .contact {
    display: flex;
    align-items: center;

}

#dashboard .chat-box .chat-area .head .contact span {
    margin-right: 24px;
    cursor: pointer;
    transition: .3s ease;

}

#dashboard .chat-box .chat-area .head .contact span:hover {
    transform: scale(1.07);
    color: #1c9700;
}

#dashboard .chat-box .chat-area .head .name span {
    display: block;
    font-weight: 600;
}

#dashboard .chat-box .chat-area .head .name small {
    color: #1c9700;
}

#dashboard .chat-box .chatting-box {
    height: calc(100vh - 200px);
    position: relative;
}

#dashboard .chat-box .chatting-box form {
    display: flex;
}

#dashboard .chat-box .chatting-box input[type="text"] {
    padding: 12px 12px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #111;
}

#dashboard .chat-box .chatting-box span {
    width: 30px;
    height: 20px;
    background-color: #acacac;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
}

#dashboard .chat-box .chatting-box span.send {
    background-color: var(--dark-blue);

}

#dashboard .chat-box .chatting-box .fa-solid {
    margin-left: -10px;
}

#dashboard .chat-box .chatting-box input[type="file"] {
    opacity: 0;
}

#dashboard .chat-box .chatting-box .user-tab {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 10px;
}

#dashboard .chat-box .chatting-box .chat-history span {
    background: rgba(87, 182, 231, .3);
    color: #111;
    position: absolute;
    right: 10px;
    top: 20px;
}

#dashboard .chat-box .chatting-box .chat-history span.received {
    left: 10px;
    top: 80px;
}

/* course-html */
section#course-section .wrapper ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#course-section .wrapper ul li {
    height: 400px;
    width: 28%;
    align-items: center;
    text-align: left;
    border: #111 solid 1px;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 0 25px 25px 0;
    transition: 0.5s ease;
}

section#course-section .wrapper ul li:hover {
    background: rgba(87, 182, 231, .3);
}


section#course-section .wrapper ul li div {
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
}


section#course-section .wrapper ul li div img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

section#course-section .wrapper ul li h3 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

section#course-section .wrapper ul li p {
    text-align: center;
}

/* #mein_end */

section#contact {
    padding: 10%;
}

section#contact .wrapper {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, var(--light-blue), #fff);
    height: 320px;
    border-radius: 20px;
}

section#contact .wrapper hr {
    margin: 18% 0px;
    width: 100%;
}

section#contact .wrapper h2 {
    font-weight: 400;
    font-size: 36px;
    padding: 30px;
}

section#contact .wrapper p {
    width: 58%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
}

section#contact .wrapper div span {
    padding: 16px 40px;
    border-radius: 85px;
    background: var(--dark-blue);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

section#contact .wrapper div span:hover {
    background-color: var(--light-blue);
    transform: scale(1.04);
}

section#contact .wrapper div span.contact {
    margin-right: 40px;
}

/* we-html */
section#about .wrapper div.top {
    padding: 50px;
    display: flex;
    align-items: center;
}

section#about .wrapper div.top div.content h2 {
    font-weight: 600;
    font-size: 44px;
    max-width: 310px;
    margin: 0 140px;
}

section#about .wrapper div.top div.img {
    width: 42%;
}

section#about .wrapper div.top div.img img {
    display: block;
    width: 100%;
}

section#about .wrapper div.middle {
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f4f4;
    border-radius: 14px;
}

section#about .wrapper div.middle div.content {
    width: 400px;
}

section#about .wrapper div.middle div.content span.top {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 18px;
}

section#about .wrapper div.middle div.content h3 {
    padding: 20px 0px;
    font-size: 34px;
}
section#about .Changing .wrapper div.top_one h2 span{
    color: var(--dark-blue);
}
section#about .wrapper div.middle div.content p {
    margin-bottom: 20px;
}

section#about .wrapper div.middle div.img {
    width: 55%;
}

section#about .wrapper div.middle div.img img {
    display: block;
    width: 100%;
}

section#about .wrapper div.middle div.content button {
    padding: 16px 30px;
    border-radius: 8px;
    background: var(--dark-blue);
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

section#about .Changing {
    padding: 70px 0;
}

section#about .Changing .wrapper div.top_one {
    padding: 40px;
    text-align: center;
}

section#about .Changing .wrapper div.top_one h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 30px;
}

section#about .Changing .wrapper div.top_one p {
    width: 62%;
    font-size: 18px;
    margin: 0 auto;
}

section#about .Changing .wrapper div.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#about .Changing .wrapper div.bottom div.img {
    width: 100%;
    margin-right: 40px;
}

section#about .Changing .wrapper div.bottom div.img img {
    display: block;
    width: 100%;
    border-radius: 14px;
}

section#about .Changing .wrapper div.bottom div.content {
    width: 60%;
    margin: 0 auto;
}

section#about .Changing .wrapper div.bottom div.content h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

section#about .Changing .wrapper div.bottom div.content p {
    font-size: 18px;
}